player-connection-mode=Listen
player-connection-guid=1295457873
player-connection-debug=0
player-connection-project-name=Owl
player-connection-ip=172.17.90.127
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=518f096ba779438a9b9ac6000f66deeb
